<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In repellat dolore dolores architecto, eius harum similique ipsum accusantium fugit modi natus quasi ratione beatae commodi atque excepturi exercitationem, voluptate qui?</p>

<%- include("footer") -%>